include *.txt
include *.md
include *.pkl
recursive-include ./sql_injection *

include data/sql_injection_dataset.csv
include data/test_sql_file.sql
include sql_injection/datasets/test.csv
include sql_injection/trained_models/*.pkl
include sql_injection/VERSION


include ./deployment/requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
